
@{
    ViewData["Title"] = "Admin Login";
}
    
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">IHMG</h1>
        </div>
        <h3>Premium Medikal Admin Paneli</h3>
        <p>Lütfen kullanıcı adı ve şifrenizi giriniz</p>
        <form class="m-t" method="post" id="adminLoginForm">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Eposta" required="" id="inputEmail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Şifre" required="" id="inputPassword">
            </div>
            <div class="i-checks" style="display:inline; margin-bottom:15px; float:left;">
                <input type="checkbox" class="form-control" id="rememberMeAdmin">
                <label for="rememberMeAdmin">&emsp;Beni Hatırla</label>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" id="adminLoginFormSubmit">Giriş</button>
        </form>
        <p class="m-t"> <small>premiummedikal.com @DateTime.Now.Year</small> </p>
    </div>
</div>

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $(document).ready(function () {

            var adminEmailCokie = window.localStorage.getItem("adminEmail");
            if (adminEmailCokie != null) {
                $('#inputEmail').val(adminEmailCokie);
                $('#inputPassword').focus();
                var targetEl = document.getElementsByClassName('icheckbox_square-green');
                targetEl[0].classList.add('checked');
                //document.getElementById('rememberMe').checked = true;
            }
            else {
                //document.getElementById('rememberMe').checked = false;
                var targetEl = document.getElementsByClassName('icheckbox_square-green');
                targetEl[0].classList.remove('checked');
            }

            $('#rememberMeAdmin').on('ifChecked', function (event) {
                var emailVal = document.getElementById('inputEmail').value;
                window.localStorage.setItem("adminEmail", emailVal);
            });
            $('#rememberMeAdmin').on('ifUnchecked', function (event) {
                window.localStorage.removeItem("adminEmail");
            });



            //LoginCheck Ajax
            $('#adminLoginFormSubmit').click(function (e) {
                //debugger;
                e.preventDefault();

                var form = $('#adminLoginForm');
                $.validator.unobtrusive.parse(form);
                form.validate();

                var emailVal = document.getElementById('inputEmail').value;
                var pwdVal = document.getElementById('inputPassword').value;
                var rememberVal = document.getElementById('rememberMeAdmin').checked;

                if (emailVal=="") {
                    toastr.warning("Epostanızı giriniz");
                    return false;
                }
                if (pwdVal == "") {
                    toastr.warning("Şifrenizi giriniz");
                    return false;
                }
                if (form.valid()) {
                    $.ajax({
                        type: 'POST',
                        url: "/Admin/Account/LoginCheck",
                        data: { email: emailVal, password: pwdVal},
                        success: function (response) {
                            if (response.success) {
                                toastr.success(response.responseText, response.title);
                                var delayInMilliseconds = 1000;

                                setTimeout(function () {
                                    window.location.href = "/Admin/Home/Index";
                                }, delayInMilliseconds);
                            }
                            else {
                                toastr.warning(response.responseText, response.title);
                            }
                        }
                    });
                }
            });
           
        });

    </script>
}
